.text {
   display: flex;
   justify-content: center;
   width: auto;
   height: auto;
   margin: 10%;


   color: #393939;
   font-size: 3vw; /* 10% от viewport */
   /* font-weight: 300;
   line-height: 52px; */

}

.text_line{
   color: #393939;
   font-size: 3vw;
   display: flex;
   justify-content: left;

   /* border-top:2px solid #d3d3d3 ; */
   border-bottom:2px solid #d3d3d3 ;
   width: 40%;
   padding-top: 5%;
   padding-bottom: 5%;
   padding: 5%;
   margin: 5%;
   
}


.back_img{
   background-image: url(../../img/Image\ \(6\).png);
   height: 1000px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: rgba(0, 0, 0, 0.5);
}

.sticky-text {
   color: #ffffff;
   font-Size:3vh;
   position: -webkit-sticky;
   position: sticky;
   top: 30%;
   margin: 0 auto;
   padding: 5%;
 }

 .back_img_two{
   background-image: url(../../img/image\ \(102\).jpeg);
   height: 1000px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: rgba(0, 0, 0, 0.5);
 }
 .back_img_tree{
   background-image: url(../../img/image\ \(12\).jpeg);
   height: 1000px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: rgba(0, 0, 0, 0.5);
 }
 
