*{
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
}
a{
    width: 40px;
    height: 40px;   
    border-radius: 50%;
}

.img_grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

..img_grid{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}