.menu{
    min-width: 300px;
    max-width: 400px;
    display: grid;
    gap: 10;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: rgba(187, 182, 182, 0.332);
    border-radius: 20px;
}
.circle{
    border-radius:25px ;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    
}
a:hover{
    
}
